*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 90vh;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    background-image: url(-5992479633309807931_121.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: century gothic;
}

h1{
    font-size: 3rem;
}

.main-container{
    border: 3px solid white;
    padding: 3rem 6rem;
    width: 90;
    max-width: 400px;
    box-shadow: 0 9px 9px black;
}

.count-value{
    font-size: 8rem;
    color: rgb(20, 213, 243);
    font-weight: 500;
    margin: 1rem;
}


a img{
    width: 30px;
}

.bt{
    background-color: blue;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-family: century gothic;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0,  0.815);
    font-size: 1rem;
    cursor: pointer;
}

.bt{
    margin-top: 1rem;
}

.main-container a{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    color: white;
}